{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <p class="article-content" id="para"> <h3>An Idea has to come to life because "Failure is an option but giving up is not!"</h3> </p>
        </div>
  
        <p class="article-content">  
            
            <div id="mission">
                <h4>- My Mission -</h4>
                <p>To be able to let you find any AfroShop in Germany wherever you are and order online ... Let's say we are going to be the next Amazon for AfroShops in Europe!</p>
                <br>
            </div>
            <hr class="intro-divider">
            <br>
            <div id ="about">
                <h4>- About -</h4>
                <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor 
                        sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et 
                        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <br>
            </div>
            <hr class="intro-divider">  
            <br>  
            <div class ="team">
                <span id="text-me"><img class="img" src="static/img/rtz.jpg" alt="mignoncharly"/></span>
                <span id="text-me">I'm just trying to achieve something simple and bigger here!</span>
            </div>
        </p>
    </div>
</article>
{% endblock content %}